@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hockey Team</h1>
    <p class="lead">This is the hockey team selector.</p>
    <p><a href="https://www.nhl.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Toronto Maple Leafs</h2>
        <p>
            This is The Toronto Maple Leaf's Page.
        </p>
        <p><a class="btn btn-default" href="https://www.nhl.com/mapleleafs/">Learn more about the Leafs &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pittsburgh Penguins</h2>
        <p>This is the Pittsburgh Penguin's Page.</p>
        <p><a class="btn btn-default" href="https://www.nhl.com/penguins/">Learn more about the Penguins &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Boston Bruins</h2>
        <p>This is the Boston Bruins Page.</p>
        <p><a class="btn btn-default" href="https://www.nhl.com/bruins/">Learn more about the Bruins &raquo;</a></p>
    </div>
</div>